<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vinyl Page</title>
        <link rel="stylesheet" href="../public/css/index.css">
        
    </head>
    <body>
       
    <div class="image-container">
        <img src="../public/images/covervinyl.png" alt="vinyl cover">
        <a href="test.html">
            <img id="moveable-image" src="../public/images/vinylcd.png" alt="vinylcd">
        </a>
    </div>
    
    <div class="typewriter">
        <h1>click the cd ↑</h1>
    </div>
    

    </body>
</html>