<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Main Page</title>
</head> 
<body>
    <header>
        <nav class = "nav">
            <button class="nav-btn" id="home" onclick="window.location.href='main.html'">Home</button>
            <button class="nav-btn" id="pics" onclick="window.location.href='pics.html'">Pics</button>
            <button class="nav-btn" id="letter" onclick="window.location.href='letter.html'">Letter</button>   
        </nav>
    </header>
    <div class="headertext">
        
        <div class="image-container">
            <img id="first-image" src="../public/images/recorder imaget.png" alt="vinyl player">
            <img id="moveable-image" src="../public/images/vinylcd.png" alt="vinylcd">
        </div>
        <div class = "text">
            <h1>Happy Valentine's Day <br> to my Pookeh</h1>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6cx5CvFhqN19efStehJqoW?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        
    </div>
    
    
</body>

</html>