<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/pics.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Pics Page</title>
</head> 
<body>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <header>
        <nav class = "nav">
            <button class="nav-btn" id="home" onclick="window.location.href='main.html'">Home</button>
            <button class="nav-btn" id="pics" onclick="window.location.href='pics.html'">Pics</button>
            <button class="nav-btn" id="letter" onclick="window.location.href='letter.html'">Letter</button>   
        </nav>
    </header>

	<div class="section full-height over-hide px-4 px-sm-0">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-lg-10 col-xl-8 align-self-center padding-tb">
					<div class="section mx-auto text-center slider-height-padding">
			          	<input class="checkbox frst" type="radio" id="slide-1" name="slider" checked/>
			          	<label for="slide-1"></label>
			          	<input class="checkbox scnd" type="radio" name="slider" id="slider-2"/>
			          	<label for="slider-2"></label>
			          	<input class="checkbox thrd" type="radio" name="slider" id="slider-3"/>
			          	<label for="slider-3"></label>
			          	<input class="checkbox foth" type="radio" name="slider" id="slider-4"/>
			          	<label for="slider-4"></label>
                        <input class="checkbox fifth" type="radio" name="slider" id="slider-5"/>
                        <label for="slider-5"></label>
                        <input class="checkbox sixth" type="radio" name="slider" id="slider-6"/>
                        <label for="slider-6"></label>
                        <input class="checkbox seventh" type="radio" name="slider" id="slider-7"/>
                        <label for="slider-7"></label>
                        <input class="checkbox eight" type="radio" name="slider" id="slider-8"/>
                        <label for="slider-8"></label>
                        <input class="checkbox ninth" type="radio" name="slider" id="slider-9"/>
                        <label for="slider-9"></label>
                        <input class="checkbox tenth" type="radio" name="slider" id="slider-10"/>
                        <label for="slider-10"></label>
                        <input class="checkbox eleventh" type="radio" name="slider" id="slider-11"/>
                        <label for="slider-11"></label>

						<ul>
							<li>
								<span>AMERICA W U</span>
						    </li>
							<li>
								<span>LAKE TAHOE</span>
						    </li>
							<li>
								<span>OUR ANNIVERSARY</span>
						    </li>
							<li>
								<span>AT UR HOUSE :3</span>
						    </li>
                            <li>
                                <span>Din tai fung lol</span>
                            </li>
                            <li>
                                <span>first official date!</span>
                            </li>
                            <li>
                                <span>school date</span>
                            </li>
                            <li>
                                <span>first xmas!</span>
                            </li>
                            <li>
                                <span>ur bday!</span>
                            </li>
                            <li>
                                <span>another lake tahoe pic :3</span>
                            </li>
                            <li>
                                <span>my bday!</span>
                            </li>
					    </ul>
				    </div>
			    </div>
	      	</div>
	    </div>
	</div>
</body>

</html>